<img src = "../images/buttons/profile.bmp" class = "title" style = "height: 100px" />

<div class = "mainDiv">
<a href = "/"><img src = "../images/buttons/menu.bmp" align = "right" class = "menuButton" /></a>

</div>