
<img src = "../images/buttons/title.gif" class = "title" />
<div class = "mainDiv" >
<h2 style = "position: absolute;">{{message}}</h2>
<br />
<a href = "/"><button class = "menuButton" style = "font-size: 150%">Back to menu</button></a>
<form action = "register/submit" method = "post" style = "position: absolute; top: 30px; left: 40%;">
<input type = "text" name = "userName">user name</input>
<br />
<input type = "password" name = "password">password</input>
<br />
<button type = "submit">submit</button>
</form>
</div>

