
<img src = "../images/buttons/title.bmp" style = "position: absolute; top: 30px; left: 450px;" />
<div style="position: absolute; top: 170px; left: 40px; height: 450px; width: 1300px; background-color: lightblue;">
<h2 style = "position: absolute;">{{message}}</h2>
<br />
<a href = "/"><img src = "../images/buttons/menu.bmp" align = "right" /></a>
<form action = "register/submit" method = "post" style = "position: absolute; top: 30px; left: 300px;">
<input type = "text" name = "userName">user name</input>
<br />
<input type = "password" name = "password">password</input>
<br />
<button type = "submit">submit</button>
</form>
</div>