<img class = "title" src = "../images/buttons/title.gif" />
<div class = "mainDiv" style = "overflow-y: auto;">
<br />
<a href = "/"><button class = "menuButton" style = "font-size: 150%">Back to menu</button></a>
<ul>
{{#each message}}
<li><h2>{{this}}</h2></li>
{{/each}}
</ul>
</div>